.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
@media (min-width: 750px) {
  .footer__content-top .footer__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__blocks-wrapper .footer-block {
    width: 100%;
  }
}
@media (min-width: 850px) {
  .footer__content-top .footer__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 750px) {
  .footer__content-top .footer__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__blocks-wrapper .footer-block {
    width: 100%;
  }
  .footer__content-top .footer__blocks-wrapper > *:first-child {
    grid-column: 1 / -1;
  }
}
